body{
	margin: 0;
	padding: 0;
	background: #f4f4f4;
	font-family: calibri;
}
header{
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100px;
	background: #343a40;
	border-bottom: 3px solid #00ff00;
}
header section{
	dislpay: block;
	width: 45%;
	height: 100%;
	float: left;
}
header section:last-child{
	dislpay: block;
	width: 55%;
	height: 100%;
}


header section div.headerPic{
	float: none;
	width: 74%;
	height: 70px;
	margin: 11% 20%;
	
}
header section div.headerPic img{
	width: 96%;
	height: 70px;
	border: 2px solid #00ff00;
	border-radius: 50%;
}
header section p{
	width: 100%;
	font-size: 120%;
	margin: 0;
	color: #fff;
	padding: 0;
	padding-top: 3%;
}
header section p span{
	color: #00ff00;
	font-size: 110%;
	border: 0px;
}
header section h1{
	color: #00ff00;
	font-size: 250%;
	font-weight: bold;
}

header section ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
header section ul li{
	dislpay: block;
	width: 20%;
	height: 100%;
	float: left;
	color: #ffffff;
	line-height: 100px;
	font-weight: bold;
	font-size: 78%;
}
header section ul li a i{
	color: #00ff00;
	padding-right: 4%;
}
header section ul li:last-child a i{
	transform: rotate(140deg);
}
.firstPageDiv{
	width: 100%;
	height: auto;
	margin: 0;
}
.firstPageDiv .backgroundDiv{
	width: 100%;
	height: 600px;
	margin: 0;
	padding: 0;
	background: url('../images/FeatureBox-ComputingSoftwareEngineering.jpg') no-repeat;
	background-position: center;
	background-size: cover;
}
.firstPageDiv .backgroundDiv .opaque-plane{
	position: relative;
	width: 100%;
	height: 100%;
	background: rgba(128,128,128,.4);
}
.firstPageDiv .backgroundDiv .opaque-plane img{
	width: 12%;
	height: 140px;
	margin: 5% 44% 1% 44%;
	border-radius: 50%;
	border: 4px solid #00ff00;
	/*-webkit-animation: makeChanges 2000ms infinite; /* Safari 4+ */
	/*-moz-animation:    makeChanges 2000ms infinite; /* Fx 5+ */
	/*-o-animation:      makeChanges 2000ms infinite;
	/*animation: makeChanges 2000ms infinite;*/
}

@keyframes makeChanges{
	0%{
		opacity: .8;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: .8;
	}
}
.firstPageDiv .backgroundDiv .opaque-plane h2{
	text-align: center;
	color: #fff;
	font-size: 300%;
	padding: 0;
	font-weight: bold;
}
.firstPageDiv .backgroundDiv .opaque-plane h2 section{
	color: #00ff00;
	display: inline-block;
	float: none;
}
.firstPageDiv .backgroundDiv .opaque-plane p{
	text-align: center;
	color: #fff;
	font-size: 250%;
	padding-top: 0%;
	font-weight: bold;
}
.firstPageDiv .backgroundDiv .opaque-plane .btn-primary{
	width: 20%;
	height: 56px;
	margin: 1% 40%;
	background: #008800;
	font-size: 120%;
	border: 2px solid #fff;
}

.firstPageDiv .iconsDiv{
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 160px;
}
.firstPageDiv .iconsDiv ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.firstPageDiv .iconsDiv ul li{
	display: block;
	float: left;
	width: 20%;
	height: 120px;
	margin: 1% 0;
	padding: 0;
}
.firstPageDiv .iconsDiv ul li:first-child{
	margin-left: 10%;
}
.firstPageDiv .iconsDiv ul li:last-child{
	margin-right: 10%;
}
.firstPageDiv .iconsDiv ul li i{
	font-size: 200%;
	padding: 4% 40%;
	color: #006400;
	
}
.firstPageDiv .iconsDiv ul li h4{
	font-size: 150%;
	text-align: center;
}
.firstPageDiv .iconsDiv ul li p{
	font-size: 110%;
	margin: 1% 0;
	text-align: center;
}


.secondPageDiv{
	clear: both;	
	width: 100%;
	height: auto;
	margin: 0;
}
.secondPageDiv .headShot{
	width: 100%;
	height: 300px;
	margin: 0;
}
.aboutMe ul.sideMenu{
	margin: 0;
	margin-top: 16%;
	padding: 0;
	list-style: none;
	width: 100%;
	height: 600px;
}
.aboutMe ul.sideMenu li{
	display: block;
	width: 100%;
	height: 60px;
	border: 2px solid #006400;
	text-align: center;
	line-height: 60px;
	margin: 2px 0;
	margin-left: 10px;
	border-radius: 4px;
	color: #006400;
	font-weight: bold;
}
.aboutMe ul.sideMenu li:first-child{
	border-radius: 0;
	border: none;
	margin-top: 4%;
	margin-bottom: 4%;
}
.aboutMe ul.sideMenu li:hover{
	background: #006400;
	color: #fff;
	cursor: pointer;
	font-size: 140%;
}
.aboutMe ul.sideMenu li:first-child:hover{
	color: #fff;
	cursor: pointer;
	background: none;
}
.aboutMe ul.sideMenu li:first-child img{
	width: 30%;
	height: 60px;
	margin: 1% 35%;
	border-radius: 50%;
	border: 3px solid #fff;
}
.aboutMe .loadedInfo .shortData img{
	width: 12%;
	height: 140px;
	margin: 1% 44%;
	border-radius: 50%;
	border: 3px solid #fff;
}
.aboutMe .loadedInfo .shortData span{
	display: block;
	width: 40%;
	height: 100px;
	background: #006400;
	margin: -6% 20% 0 30%;
}
.aboutMe .loadedInfo h1{
	text-align: center;
	font-size: 320%;
	font-weight: bold;
	color: #333;
} 
.aboutMe .loadedInfo p{
	width: 80%;
	margin: 0 10%;
	text-align: center;
	font-size: 124%;
}
.aboutMe .loadedInfo p span.ParagraphSpan{
	color: #006400;
	font-weight: bold;
	width: auto;
	height: auto;
	background: none;
	margin: 0%;
	display: inline-block;
}

.secondPageDiv .shortInfoDiv{
	clear: both;
	width: 100%;
	height: 400px;
	margin: 1% 0;
}
.hideIt{
	display: none;
}
.showIt{
	display: block;
}
.tools{
	clear: both;
	width: 100%;
	height: 600px;
	margin: 0;
	margin-top: 60px;
	padding: 0;
}
.tools h2{
	text-align: center;
	color: #006400;
	font-size: 280%;
	font-weight: bold;
}
.tools ul{
	clear: both;
	margin: 0;
	margin-left: 26px;
	padding: 0;
	list-style: none;
}
.tools ul li{
	float: left;
	display: block;
	width: 150px;
	min-height: 100px;
	margin: 0;
}
.tools ul li img{
	width: 100px;
	height: 100px;
}
.tools ul li label{
	clear: both;
}


footer{
	display: block;
	width: 100%;
	height: 200px;
	margin: 0;
	background: #000000;
}
footer section{
	display: block;
	float: left;
	width: 33%;
	height: 200px;
	border-right: 1px solid #f4f4f4;
}
footer section:last-child{
	border-right: none;
}